**/.DS_Store
notes/
*Rhistory
prep_data.R
labs/ex3/data/filtered_feature_bc_matrix/
labs/ex3/data/se
labs/ex3/data/spatial/
labs/ex4/data/filtered_feature_bc_matrix.h5
labs/ex4/filtered_feature_bc_matrix/
